.page-container-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bg-vistas-home {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/img/Viñedo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.productos-container-home {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card-modern-home {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card-modern-home:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.product-card-modern-home h5 {
    font-weight: bold;
    color: #222;
    font-size: 18px;
}

.detalle-home {
    color: #222;
    font-size: 16px;
}

.price-home {
    font-size: 18px;
    font-weight: bold;
    color: #00C853;
}

.product-image-wrapper-home {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

/* Ajustes para la imagen dentro del contenedor */
.product-image-home {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

/* Limita el nombre del producto a dos líneas y centra el texto */
.nombre-producto-home {
    font-size: 24px;
    color: #12b873;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 48px;
    margin-bottom: 5px;
    text-align: center;
    line-clamp: 2;
}
