.bg-vistas{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/Viñedo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px 0;
}
.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
#map{
    margin: 5px 0;
}
h2{
    font-size: 32px;
}
#store-list{
    text-align: left;
    padding-left: 0;
}
#store-list li{
    text-align: left;
    font-size: 16px;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
#store-list li b{
    font-size: 24px;
    display: block;
    margin-bottom: 2px;
}
#store-list li:hover{
    background-color: #444;
}