.bg-vistas-vinos {
    flex-direction: column;
    background-image: url('/img/Viñedo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;

}

.titulo-vinos {
    font-size: 32px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.productos-container-vinos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-card-modern-vinos {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    height: 100%;
}

.product-card-modern-vinos:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.product-card-modern-vinos h5 {
    font-weight: bold;
    color: #222;
    font-size: 20px;
    margin-bottom: 5px;
}

.detalle-vinos {
    color: #444;
    font-size: 15px;
    margin-bottom: 5px;
}

.price-vinos {
    font-size: 19px;
    font-weight: bold;
    color: #12b873;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-image-wrapper-vinos {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

/* Ajustes para la imagen dentro del contenedor */
.product-image-vinos {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}

/* Limita el nombre del producto a dos líneas y centra el texto */
.nombre-producto-vinos {
    font-size: 24px;
    color: #12b873;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 48px;
    margin-bottom: 5px;
    text-align: center;
    line-clamp: 2;
}

.prox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}