.menu-container{
    position: relative;
    display: inline-block;
}
.btn-redondo{
    background: none !important;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s;
    outline: none;
}
.btn-redondo:hover{
    background: transparent !important;
    box-shadow: none !important;
}
.btn-redondo:focus,
.btn-redondo:active{
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
}
.icono-menu{
    width: 30px;
    height: 30px;
    color: white;
    transition: color 0.3s;
}
.btn-redondo:hover .icono-menu{
    color: #921913;
}
.dropdown-menu{
    white-space: nowrap;
    min-width: 200px;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
}
.dropdown-item{
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}
.dropdown-item:hover{
    background: rgba(0, 0, 0, 0.05);
    color: #921913;
}