@import "@fortawesome/fontawesome-free/css/all.min.css";

html, body{
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
  flex: 1;
}
.footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 0px 0px 16px 0px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.social-link{
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.social-link:hover{
  color: #921913;
}
.copyright{
  font-size: 11px;
}
.social-icons i{
  font-size: 16px;
}