header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
    max-width: 100%;
    gap: 10px;
}
.header-parte-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
header div:last-child{
    display: flex;
    gap: 15px;
}
.header-logos{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.logo-lord-wine{
    height: 70px;
}
.icono-tiendas,
.icono-carrito-compras,
.icono-usuario-login{
    width: 30px;
    height: 30px;
    color: white;
    transition: color 0.3s;
}
.icono-principales{
    background: none;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    box-shadow: none;
    transition: background 0.3s ease-in-out;
}
.icono-principales:hover .icono-tiendas,
.icono-principales:hover .icono-carrito-compras,
.icono-principales:hover .icono-usuario-login{
    color: #921913;
}
.icono-principales:focus,
.icono-principales:active{
    outline: none !important;
    box-shadow: none !important;
}