.user-menu-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.user-menu-button {
  background: none !important;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: color 0.3s;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-menu-button:hover {
  background: transparent !important;
  box-shadow: none !important;
}

.user-menu-button:focus,
.user-menu-button:active {
  outline: none !important;
  box-shadow: none !important;
  background: none !important;
}

.user-menu-icon {
  width: 30px;
  height: 30px;
  color: white;
  transition: color 0.3s;
  display: inline-block;
  margin-top: 12px;
}

.user-menu-button:hover .user-menu-icon {
  color: #921913;
}

.user-menu-dropdown {
  white-space: nowrap;
  min-width: 200px;
  position: absolute;
  top: calc(100% + -15px);
  right: 12px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  cursor: pointer;
  z-index: 1000;
}

.user-menu-item {
  padding: 10px;
  text-decoration: none;
  color: black;
  display: block;
  text-align: left;
}

.user-menu-item:hover {
  background: rgba(0, 0, 0, 0.05);
  color: #921913;
}